<!DOCTYPE html>
<html>
  <head>
    <title>Mail en HTML</title>
  </head>
  <body>
    <p>{{ data[0].body }}</p>
    <p><b>{{ data[0].name }} || {{ data[0].mail }}</b></p>
    <img src="{{ data['image'] }}" alt="Image" />
  </body>
</html>
