<!DOCTYPE html>
<html>
  <head>
    <title>Mail en HTML</title>
  </head>
  <body>
    <p>{{ enquiry.body }}</p>
    <p><b>{{ enquiry.name }} || {{ enquiry.mail }}</b></p>
    <img src="http://monsitetest.fr/Image/image.jpg" alt="Image" />
  </body>
</html>
