{% extends "OPPlatformBundle::layout.html.twig" %}

{% block title %}
    Admin space - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Liste des utilisateurs</h2>

    <ul class="pagination">
        {% for u in listUsers %}
            <li class="active"> pseudo : {{ u.username }} - mail : {{ u.email }} - role :
                {% for r in u.roles %}
                    {{ r }}
                {% endfor %}
            </li><br>
        {% endfor %}
    </ul>
{% endblock %}